@model PersonUpdateDTO

@{
    ViewData["Title"] = "Atualizando pessoa";
}

<h2>Atualizando pessoa</h2>

<form asp-controller="Persons" asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Document" class="form-label">CPF/CNPJ</label>
        <input asp-for="Document" class="form-control"/>
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Telefone</label>
        <input asp-for="Phone" class="form-control" type="text" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Street" class="form-label">Rua</label>
        <input asp-for="Street" class="form-control" type="text" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Number" class="form-label">Número</label>
        <input asp-for="Number" class="form-control" type="text" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Neighborhood" class="form-label">Bairro</label>
        <input asp-for="Neighborhood" class="form-control" type="text" />
        <span asp-validation-for="Neighborhood" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="State" class="form-label">Estado</label>
        <input asp-for="State" class="form-control" type="text" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="City" class="form-label">Cidade</label>
        <input asp-for="City" class="form-control" type="text" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsCustomer" class="form-check-input" type="checkbox" />
        <label asp-for="IsCustomer" class="form-check-label">É cliente?</label>
        <span asp-validation-for="IsCustomer" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>